Repository datapio/opencore, pull requests merged in 2020-11, with the labels that each got.

#35 Datapio SDK v1.0.0
  sources/sdk/amqp-engine/package.json
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/graphql/type-defs/annotation.graphql
  sources/sdk/k8s-operator/src/graphql/type-defs/cluster-resource.graphql
  sources/sdk/k8s-operator/src/graphql/type-defs/collection.graphql
  sources/sdk/k8s-operator/src/graphql/type-defs/index.js
  sources/sdk/k8s-operator/src/graphql/type-defs/label.graphql
  sources/sdk/k8s-operator/src/graphql/type-defs/namespaced-resource.graphql
  sources/sdk/k8s-operator/src/graphql/type-defs/resource-field.graphql
  sources/sdk/k8s-operator/src/graphql/utils/collection.js
  sources/sdk/k8s-operator/src/index.js
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/src/operator.js
  sources/sdk/k8s-operator/src/web-service.js
  sources/sdk/k8s-operator/tests/fixtures/kubectl.js
  sources/sdk/k8s-operator/tests/fixtures/operator.js
  sources/sdk/k8s-operator/tests/index.js
  sources/sdk/k8s-operator/tests/kube-interface/create.js
  sources/sdk/k8s-operator/tests/kube-interface/delete.js
  sources/sdk/k8s-operator/tests/kube-interface/get.js
  sources/sdk/k8s-operator/tests/kube-interface/index.js
  sources/sdk/k8s-operator/tests/kube-interface/list.js
  sources/sdk/k8s-operator/tests/kube-interface/patch.js
  sources/sdk/k8s-operator/tests/kube-interface/watch.js
  sources/sdk/k8s-operator/tests/mocks/apollo-server.js
  sources/sdk/k8s-operator/tests/mocks/express.js
  sources/sdk/k8s-operator/tests/mocks/index.js
  sources/sdk/k8s-operator/tests/mocks/kubernetes-client-backend-request.js
  sources/sdk/k8s-operator/tests/mocks/kubernetes-client.js
  sources/sdk/k8s-operator/tests/mocks/test-world.js
  sources/sdk/k8s-operator/tests/operator.js
  sources/sdk/k8s-operator/tests/resource-watcher.js
  sources/sdk/k8s-operator/tests/web-service.js
  sources/sdk/k8s-operator/yarn.lock
Labels: enhancement

#36 Fix linting errors in SDK
  sources/sdk/amqp-engine/src/queue.js
  sources/sdk/k8s-operator/src/graphql/utils/collection.js
  sources/sdk/k8s-operator/src/operator.js
Labels: bug

#37 Node packages not published
  .github/scripts/maybe-publish.sh
  .github/workflows/node.yml
Labels: bug

#38 Remove echo used for debug in node CI pipeline
  .github/scripts/maybe-publish.sh
Labels: bug

#39 🐛 🚨 Fix code issues with release
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/graphql/type-defs/index.js
  sources/sdk/k8s-operator/src/graphql/utils/collection.js
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/src/operator.js
  sources/sdk/k8s-operator/tests/cancel-scope.spec.js
  sources/sdk/k8s-operator/tests/fixtures/kubectl.js
  sources/sdk/k8s-operator/tests/graphql/type-defs.spec.js
  sources/sdk/k8s-operator/tests/graphql/utils/collection.spec.js
  sources/sdk/k8s-operator/tests/index.js
  sources/sdk/k8s-operator/tests/kube-interface/index.spec.js
  sources/sdk/k8s-operator/tests/mocks/index.js
  sources/sdk/k8s-operator/tests/operator.js
  sources/sdk/k8s-operator/tests/operator.spec.js
  sources/sdk/k8s-operator/tests/resource-watcher.spec.js
  sources/sdk/k8s-operator/tests/server-factory.spec.js
  sources/sdk/k8s-operator/tests/web-service.spec.js
  sources/sdk/k8s-operator/yarn.lock
Labels: bug

#41 Add AnnotationField in sdk-k8s-operator GraphQL utilities.
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/graphql/type-defs/annotation.graphql
Labels: enhancement

#42 🐛 Wrong type in SDK Kubernetes Operator
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/web-service.js
Labels: bug

#43 🐛 Test suite for SDK Kubernetes Operator was based on an old version of kubernetes-client
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/tests/kube-interface/create.js
  sources/sdk/k8s-operator/tests/kube-interface/delete.js
  sources/sdk/k8s-operator/tests/kube-interface/get.js
  sources/sdk/k8s-operator/tests/kube-interface/list.js
  sources/sdk/k8s-operator/tests/kube-interface/patch.js
  sources/sdk/k8s-operator/tests/mocks/kubernetes-client.js
Labels: bug

#44 🐛 Fix KubeConfig creation and CRD double-creation
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/src/operator.js
Labels: kind/bug, sdk/k8s-operator

#45 👕 remove dangle comma
  sources/sdk/k8s-operator/src/operator.js
Labels: sdk/k8s-operator

#46 🐛 Fix Kubernetes interface
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/src/resource-watcher.js
Labels: sdk/k8s-operator

#50 👷‍♀️ add Dependabot configuration
  .github/dependabot.yml
Labels: ci/dependabot

#66 ✅ Add missing mock dependency
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/yarn.lock
Labels: sdk/k8s-operator

#48 ✨ Add support for authentication via HTTP Only cookie
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/operator.js
  sources/sdk/k8s-operator/tests/operator.spec.js
  sources/sdk/k8s-operator/yarn.lock
Labels: sdk/k8s-operator

#73 👷‍♂️ ⬆ Upgrade NodeJS
  .github/workflows/node.yml
Labels: ci/github

#74 👷‍♂️ Github Workflow now executed for every branches
  .github/workflows/node.yml
Labels: ci/github

#49 🔨 Load all CRDs present in Kubernetes cluster
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/tests/kube-interface/index.spec.js
  sources/sdk/k8s-operator/tests/mocks/kubernetes-client.js
Labels: sdk/k8s-operator

#75 🐛 KubeInterface client's method not binded
  sources/sdk/k8s-operator/src/kube-interface.js
Labels: sdk/k8s-operator

#76 🔨 Simplify KubeInterface source code
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/tests/kube-interface/watch.js
  sources/sdk/k8s-operator/tests/mocks/kubernetes-client.js
Labels: sdk/k8s-operator

#77 🔖 v1.2.2
  sources/sdk/k8s-operator/package.json
Labels: sdk/k8s-operator

#78 ✨ Add Pod exec and log to KubeInterface
  sources/sdk/k8s-operator/src/kube-interface.js
  sources/sdk/k8s-operator/tests/kube-interface/exec.js
  sources/sdk/k8s-operator/tests/kube-interface/index.spec.js
  sources/sdk/k8s-operator/tests/kube-interface/logs.js
  sources/sdk/k8s-operator/tests/mocks/kubernetes-client.js
Labels: sdk/k8s-operator

#91 🔖 v1.3.0
  sources/sdk/k8s-operator/package.json
Labels: sdk/k8s-operator
