Repository datapio/opencore, pull requests merged in 2021-01, with the labels that each got.

#122 👷‍♂️ Change Dependabot project configuration
  .github/dependabot.yml
Labels: ci/dependabot

#123 👷‍♂️ Less Slack Notifications
  .github/workflows/node.yml
Labels: ci/github

#124 ✨Add CORS support and logout route
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/operator.js
  sources/sdk/k8s-operator/tests/fixtures/operator.js
  sources/sdk/k8s-operator/tests/mocks/express.js
  sources/sdk/k8s-operator/yarn.lock
Labels: sdk/k8s-operator

#125 🔖 v1.4.0
  sources/sdk/k8s-operator/package.json
Labels: sdk/k8s-operator

#129 🔖🐛 Fix route /graphql/logout and upgrade to 1.4.1
  sources/sdk/k8s-operator/package.json
  sources/sdk/k8s-operator/src/operator.js
Labels: sdk/k8s-operator
